.trending_box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
      margin-inline-start: 1 rem; 

}
.trending_box>*{
    text-align: center;
}
.poster_box{
    width:30%;
    height: 25 rem;
    margin-bottom: 1 rem ;
    border: 1px solid black;
}
.poster_img{
    width:100%;
    /* height: 70%; */
    
}
